.number-recognition {
  .number-recognition__title {
  }
  .title--h1 {
    background-color: lightblue;
  }
  .title--h3 {
    background-color: lightcoral;
  }
  .number-recognition__NumCard {
    background-color: rgb(27, 173, 93);
    display: flex;
    justify-content: space-around;
  }
}
